.border-one {
    border-color: darkviolet;
}

.border-two {
    border-color: deeppink;
}

.border-three {
    border-color: goldenrod;
}

.border-four {
    border-color: greenyellow;
}

.border-five {
    border-color: indigo;
}

body {
    background-image: url(https://www.irishtimes.com/polopoly_fs/1.3620488.1536233099!/image/image.jpg);
    color: lightgreen;
}

.cookieContent{
    color: black;
}

* {
    cursor: url(/images/sausage-cursor.cur), none;
}

