.border-one {
    border-color: darkviolet;
}

.border-two {
    border-color: deeppink;
}

.border-three {
    border-color: goldenrod;
}

.border-four {
    border-color: greenyellow;
}

.border-five {
    border-color: indigo;
}

body {
    color: lightgreen;
}

.cookieContent{
    color: black;
}

* {
    cursor: url(/images/sausage-cursor.cur), none;
}
