.border-one {
    border-color: darkviolet;
}

.border-two {
    border-color: deeppink;
}

.border-three {
    border-color: goldenrod;
}

.border-four {
    border-color: greenyellow;
}

.border-five {
    border-color: indigo;
}

body {
    color: lightgreen;
}

.cookieBox {
    border: 2px solid red;
    display: flex;
    background-color: salmon;
    position: fixed;
    z-index: 1;
    flex-direction: column;
}

.cookieButton {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.cookieContent{
    color: black;
    display: flex;
    border: 2px solid blue;
}

* {
    cursor: url(/images/transparent-cursor.cur), none;
}

i {
     color: red;
 }
h2 {
     font-size: 78px;
     text-align: center;
 }

 .cookieText {
    color: red;
}
